html {
    font-family: 'Roboto Mono';
    font-size: 16px;
  }
header{
    display:flex;
    width: 100%;
    height: 5rem;
    background-color: aliceblue;
    position: fixed;
    top: 0;  
    left: 0;  
    align-items: center;
    justify-content:space-between;
    z-index: 1;
    border: solid grey 1px;

}

h1{
    font-family: Merriweather, sans-serif; 
    margin-left: 1rem; 
    /* background-color: aqua; */
    min-width:50%;
}

h2{
    font-family: Merriweather, sans-serif;
    font-size: x-large;
}

h3{
    font-family: 'Roboto Mono', sans-serif;
    font-size:1rem;
}

nav{
    margin-right: 1rem;
    /* background-color: bisque;     */
    
}

nav ul{
    display: flex;
    list-style: none;
    
}

.button{
    margin-right: 0.8rem;    
    border-radius: 8%;
    background-color: antiquewhite;
    border: inset black;
    padding: .1rem .15rem;

}

.button:active{
    background-color: cyan;
    box-shadow: 1px 3px;
}


header a{
    text-decoration: none;
    color: inherit ;
    font-family: 'Roboto Mono', sans-serif;;
    font-size:70%;
    font-weight: bold;
}

#content{
    position: relative;
    top: 8rem;
}

#contact{
    text-align: center;
    margin: 1rem 7rem;
    padding: 1rem auto;
    width: auto;
    background-color: rgb(105, 170, 255);
    border-radius: 5%;
}

#bio{
    display: flex;    
    width: 100%;   
    justify-content: space-between;    
}

#about-me{
    width: 90%;    
    padding: 0 5rem 0 .5rem;
    border-style: dotted;
    margin-right: 2rem;
    border-radius: 5%;
    background-color: aliceblue;
}
#images-container{
    overflow: hidden; 
    /* height:auto;    */
    /* background-color: aliceblue;   */
}

#my-image{
    width: 60%;
    height: 98%;
    margin-left: 5rem; 
    border-style: ridge;
    border-radius: 5%;
}


#project-skill{
    margin-top: 10rem;    
    display: flex;
    justify-content: space-between;    
}

#project{
    margin-left: .5rem;
    width: 40%;
    background-color: aliceblue;
}

#project h2, #skills h2{
    margin-bottom: 2rem;
    background-color: antiquewhite;
    border: inset black;
    margin-right: 12rem;
    padding: .5rem .5rem;
    border-radius: 7%;
}

#project h3{
    margin-bottom:1.5rem ;
    
}

#project h3 a{
    text-decoration: none;
    color: inherit;
}

#project h3 a:after{
    color :blueviolet;
}

#skills{
    width: 50%;
    background-color: aliceblue;
}

#skills ul{
   list-style-type: circle; 
}

.skills{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.logo{
    height: 2.4rem;
    width: 2.6rem;    
}

.logo:hover{
    height: 3rem;
    width: 3.2rem;
}

footer{
    position: relative;
    margin-top: 14rem;
    border-radius: 50%;
    background-color: aquamarine;
}

footer p{
    text-align: center;
}

@media only screen and (max-width: 800px){

    header{
        height: auto;
    }
    nav ul{
        display: block; 
        margin-top: 0.3rem;       
    }
    .button{
        margin-bottom: .3rem;
        border-radius: 10%;
        padding: .2rem 1rem;
        text-align: center;
        
    }
    h1{
        margin: 0 auto;
    }

    #content{
        top: 12rem;    }

    

    #bio{
        display:block;
    }
    #about-me{
        width: auto;
        padding: 0rem 1rem;
        margin: auto;
        text-align: left;
    }

    #images-container{
        margin: 2rem auto;
        /* background-color: red; */

    }

    #my-image{
        display: block;
        margin: auto;
        /* background-color: blue ; */
        height: 70%;
        
    }

    #project h2, #skills h2{
        margin: auto;
        /* background-color: aqua; */
    }
}

@media only screen and (max-width: 580px){
    header{
        display: block;
    }

    header h1{
        text-align: center;
        margin: auto;
        min-width: 50%;
        font-size: 160%;        
    }

    nav{        
        margin:  auto;
    }
    nav ul{
        display: flex;
        /* background-color: aqua; */
        margin: auto; 
        padding: 0;
        justify-content: space-around;
        
    }
    .button{
        margin: 1rem 0;
        border-radius: 10%;
        padding: .2rem .5rem;
        text-align: center;        
    }

    header a{
        font-size: 70%;
    }

    #project-skill{
        display: block;
    }
    #project, #skills{
        width: auto;
    }
}


/* Message Game section */

#game{
    border: solid rgb(50, 47, 47) 2px;
    background-color: red;
    border-radius: 5px;
    margin: auto;
    height: 25rem;
    width: 55%;
}

#game1{
    border: solid green 1px;
    margin: 2rem auto;
    background-color: khaki;
    height:75%;
    width: 75%;  
    z-index: 0; 
    
}

#game2{
    border: solid pink 1px;
    margin: 2rem auto;
    background-color: rgb(100, 63, 18);
    height:75%;
    width: 75%;     
}

#game3{
    border: solid pink 1px;
    margin: 2rem auto;
    background-color: #a8deea33;
    height:75%;
    width: 75%;     
}